@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap");


@import "tailwindcss";

@theme {
  --color-baige: #f4eedf;
  --color-orange: #f47238;
  --color-orange-light: #ffad48;
  --color-orange-dark: #e73c36;
  --color-orange-medium: #f37238;
  --color-purple: #8b2243;
  --color-purple-dark: #6b1a35;
  --color-light: #f2ece4;
  --color-editor: #1B1B1B;
  --font-playfair: "Playfair Display", serif;
  --font-noto: "Noto Sans", sans-serif;
}

body {
  @apply bg-baige text-black font-noto;
}

.grid-bg {
  background-image: linear-gradient(#e5e5e5 1px, transparent 1px),
    linear-gradient(90deg, #e5e5e5 1px, transparent 1px);
  background-size: 12px 12px;
  background-position: -1px -1px;
}

.cursor-blink {
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    color: transparent;
  }
}

.language-bash {
  @apply text-orange-light;
}

.language-typescript {
  @apply text-orange-light;
}

.hover\:fill-orange:hover {
  fill: #ffa500; /* Replace with your specific orange color */
}

.github-start:hover svg path {
  fill: #ffa500; /* Replace with your specific orange color */
}

.prose code:not(.hljs) {
  color: #c9d1d9;
  background: #0d1117;
}

/* Syntax highlighting */
.hljs {
  color: #c9d1d9;
  background: #0d1117;
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  color: #ff7b72;
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: #d2a8ff;
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-variable {
  color: #79c0ff;
}

.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  color: #a5d6ff;
}

.hljs-built_in,
.hljs-symbol {
  color: #ffa657;
}

.hljs-code,
.hljs-comment,
.hljs-formula {
  color: #8b949e;
}

.hljs-name,
.hljs-quote,
.hljs-selector-pseudo,
.hljs-selector-tag {
  color: #7ee787;
}

.hljs-subst {
  color: #c9d1d9;
}

.hljs-section {
  color: #1f6feb;
  font-weight: bold;
}

.hljs-bullet {
  color: #f2cc60;
}

.hljs-emphasis {
  color: #c9d1d9;
  font-style: italic;
}

.hljs-strong {
  color: #c9d1d9;
  font-weight: bold;
}

.hljs-addition {
  color: #aff5b4;
  background-color: #033a16;
}

.hljs-deletion {
  color: #ffdcd7;
  background-color: #67060c;
}
